<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="com.shouq.app"
        version="1.1.0"
        versionCode="110">

    <name>شوق</name>
    <description>تطبيق هدية عاطفية - لحظات من الحنين</description>
    <author email="shouq@app.com" href="https://shouq.app">شوق</author>

    <content src="index.html" />

    <!-- Preferences -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xFF050505" />
    <preference name="StatusBarBackgroundColor" value="#050505" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="KeepRunning" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="EnableViewportScale" value="true" />

    <!-- Security -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform: Android -->
    <platform name="android">
        <icon src="icon.png" />

        <!-- Permissions -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="false" android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>

    <!-- Platform: iOS -->
    <platform name="ios">
        <icon src="icon.png" />
        <preference name="deployment-target" value="13.0" />
    </platform>

    <!-- Plugins -->
    <plugin name="cordova-plugin-vibration" spec="^3.1.1" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />

</widget>